fastapi
uvicorn[standard]
celery[redis]
SQLAlchemy
psycopg2-binary
img2pdf
PyPDF2
pytest
pytest-cov
httpx
python-multipart
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
email-validator
