fastapi==0.115.14
uvicorn[standard]==0.35.0
celery[redis]==5.5.3
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
img2pdf==0.6.1
pypdf==5.7.0
httpx==0.28.1
python-multipart==0.0.20
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-dotenv==1.1.1
email-validator==2.2.0
